.Page {
    transition: transform var(--transition-speed) var(--transition-ease);
    transform: translate3d(0, 0, 0);
    overflow-x: hidden;
}

.entering {
    transform: translate3d(0, 0, 0);
}

.entered {
    transform: translate3d(-320px, 0, 0);
    overflow-x: visible;
}
