/**
 * Enter transitions
 */

.Enter {
    opacity: 0;
}

.EnterActive {
    opacity: 0.5;
    transition: opacity calc(var(--transition-speed) * 2) ease-in;
}

/**
 * Leave transitions
 */

.Leave {
    opacity: 0.5;
}

.LeaveActive {
    opacity: 0;
    transition: opacity calc(var(--transition-speed) * 2) ease-in;
}
