/**
 * Appear transitions
 */

.Appear {
    opacity: 0;
}

.AppearActive {
    opacity: 1;
    transition: opacity calc(var(--transition-speed)) ease-in;
}

/**
 * Enter transitions
 */

.Enter {
    opacity: 0;
}

.EnterActive {
    opacity: 1;
    transition: opacity calc(var(--transition-speed) * 2) ease-in;
}

/**
 * Leave transitions
 */

.Leave {
    opacity: 1;
}

.LeaveActive {
    opacity: 0;
    transition: opacity calc(var(--transition-speed) * 2) ease-in;
}
